<table>
<p id="notice"><%= notice %></p>


<div class="panel panel-primary">
  <div class="panel-heading"><h2>Escolha o tipo de cadastro</h2></div>
    
      
    </table>

</div>
<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Tipo Cadastro
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href=".html_safe, new_customer_path %>">Ação</a></li>
    <li><a href="#">Outra ação</a></li>
    <li><a href="#">Algo mais aqui</a></li>
    <li><a href="#">Link separado</a></li>
  </ul>
</div>

<br>

<%= link_to '<button type="button" class="btn btn-primary"><i class="fa fa-user"></i> Cadastrar Aluno</button>'.html_safe, new_customer_path %>
<%= link_to '<button type="button" class="btn btn-primary"><i class="fa fa-user"></i> Cadastrar Professor</button>'.html_safe, new_professor_path %>
<%= link_to '<button type="button" class="btn btn-primary"><i class="fa fa-user"></i> Cadastrar Apoio Educacional</button>'.html_safe, new_apoio_educacioanl_path %>
<%= link_to '<button type="button" class="btn btn-primary"><i class="fa fa-user"></i> Cadastrar Gestorr</button>'.html_safe, new_gestor_path %>