<table>
<p id="notice"><%= notice %></p>


<div class="panel panel-primary">
  <div class="panel-heading"><h2>Escolha o tipo de cadastro</h2></div>
    
      
    </table>

</div>

<br>

<%= link_to '<button type="button" class="btn btn-primary"><i class="fa fa-user"></i> Cadastrar Aluno</button>'.html_safe, new_customer_path %>
<%= link_to '<button type="button" class="btn btn-primary"><i class="fa fa-user"></i> Cadastrar Professor</button>'.html_safe, new_professors_path %>
<%= link_to '<button type="button" class="btn btn-primary"><i class="fa fa-user"></i> Cadastrar Apoio Educacional</button>'.html_safe, new_apoio_educacioanl_path %>
<%= link_to '<button type="button" class="btn btn-primary"><i class="fa fa-user"></i> Cadastrar Gestorr</button>'.html_safe, new_gestors_path %>