<p id="notice"><%= notice %></p>

<p>
  <strong>Nome Completo:</strong>
  <%= @customer.nome %>
</p>

<p>
  <strong>Registro Geral:</strong>
  <%= @customer.rg %>
</p>

<p>
  <strong>Turma:</strong>
  <%= @customer.turma %>
</p>

<p>
  <strong>Observação:</strong>
  <%= @customer.obs %>
</p>

<%= link_to 'Editar', edit_customer_path(@customer) %> |
<%= link_to 'Voltar', customers_path %>
