<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @gestor.nome %>
</p>

<p>
  <strong>Email:</strong>
  <%= @gestor.email %>
</p>

<p>
  <strong>Senha:</strong>
  <%= @gestor.senha %>
</p>

<p>
  <strong>Confirmar senha:</strong>
  <%= @gestor.confirmar_senha %>
</p>

<%= link_to 'Editar', edit_gestor_path(@gestor) %> |
<%= link_to 'Mostrar', gestors_path %>
