<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @gestor.nome %>
</p>

<p>
  <strong>Email:</strong>
  <%= @gestor.email %>
</p>



<%= link_to 'Editar', edit_gestor_path(@gestor) %> |
<%= link_to 'Mostrar', gestors_path %>
