<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @professor.nome %>
</p>

<p>
  <strong>Email:</strong>
  <%= @professor.email %>
</p>

<p>
  <strong>Senha:</strong>
  <%= @professor.senha %>
</p>

<p>
  <strong>Confirmar senha:</strong>
  <%= @professor.confirmar_senha %>
</p>

<%= link_to 'Editar', edit_professor_path(@professor) %> |
<%= link_to 'Mostrar', professors_path %>
