<p id="notice"><%= notice %></p>

<h1>Lista de Alunos</h1>

<table>
  <thead>
    <tr>
      <th>Nome Completo</th>
      <th>Registro Geral</th>
      <th>Turma</th>
      <th>Observações</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.nome %></td>
        <td><%= customer.rg %></td>
        <td><%= customer.turma %></td>
        <td><%= customer.obs %></td>
        <td><%= link_to 'Detalhes', customer %></td>
        <td><%= link_to 'Editar', edit_customer_path(customer) %></td>
        <td><%= link_to 'Apagar', customer, method: :delete, data: { confirm: 'Deseja apagar o registro do aluno #{customer.nome}?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo cadastro', new_customer_path %>
