<p id="notice"><%= notice %></p>

<h1>Apoio Educacioanal</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Senha</th>
      <th>Confirmar senha</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @apoio_educacioanls.each do |apoio_educacioanl| %>
      <tr>
        <td><%= apoio_educacioanl.nome %></td>
        <td><%= apoio_educacioanl.email %></td>
        <td><%= apoio_educacioanl.senha %></td>
        <td><%= apoio_educacioanl.confirmar_senha %></td>
        <td><%= link_to 'Mostrar', apoio_educacioanl %></td>
        <td><%= link_to 'Editar', edit_apoio_educacioanl_path(apoio_educacioanl) %></td>
        <td><%= link_to 'Apagar', apoio_educacioanl, method: :delete, data: { confirm: 'Você tem certeza que deseja apagar?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Cadastrar Apoio educacioanl', new_apoio_educacioanl_path %>
