<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @apoio_educacioanl.nome %>
</p>

<p>
  <strong>Email:</strong>
  <%= @apoio_educacioanl.email %>
</p>



<%= link_to 'Editar', edit_apoio_educacioanl_path(@apoio_educacioanl) %> |
<%= link_to 'Voltar', apoio_educacioanls_path %>
