<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @funcionario.name %>
</p>

<p>
  <strong>Login:</strong>
  <%= @funcionario.login %>
</p>

<%= link_to 'Edit', edit_funcionario_path(@funcionario) %> |
<%= link_to 'Back', funcionarios_path %>
